/* GENERAL STYLES */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* HEADER STYLES */
header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 16px 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    padding: 0 20px;
}

/* MAIN STYLES */
.main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    margin: 50px 100px;
    padding: 25px;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    margin-right: 150px;
    
    background-color: gray;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.main button {
    margin: 10px 0;
    padding: 8px 40px;
    background-color: #3382f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
}

/* OTHER INFO STYLES */
.other-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section-title {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.images {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    width: 150px;
}

.image-placeholder {
    display: flex;
    width: 150px;
    height: 150px;
    border: 3px solid #3382f6;
    border-radius: 10px;
}

.image-subtext {
    display: flex;
    text-align: center;
    margin: 10px;
}

/* QUOTE STYLES */
.quote {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 75px 350px;
    color: #1f2937;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quotee {
    text-align: end;
    font-size: 16px;
    font-weight: 900;
    padding: 15px;
}

/* FOOTER STYLES */
.signup-container {
    display: flex;
    justify-content: space-between;
    margin: 75px 200px;
    padding: 50px 100px;
    border-radius: 5px;
    color: white;
    background-color: #3382f6;
}

.signup-text {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: 700;
}

.signup-container button {
    background-color: #3382f6;
    padding: 0 30px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
}